.contenedor{
    background-color: lightseagreen;
}
.box{
    background-color: lightskyblue;
    margin-top: 2px ;
}
.azul{
    background-color: lightblue;
    height: 80px;
}
.azul1{
    height: 100px;
}